---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Scale X - Upscale'>
<Header/>
<section class="section-padding relative overflow-hidden">

    <div id="hero-carousel" transition:animate="slide" class="absolute inset-0 z-0">

        <div class="carousel-inner flex h-full">
         
            <img src="/background-hero-1.jpg" alt="Fundo da Imersão Upscale 1" class="opacity-35 carousel-image flex-shrink-0 w-screen h-full object-cover">
            <img src="/background-hero-2.jpg" alt="Fundo da Imersão Upscale 2" class="opacity-35 carousel-image flex-shrink-0 w-screen h-full object-cover">
            <img src="/background-hero-3.jpg" alt="Fundo da Imersão Upscale 3" class="opacity-35 carousel-image flex-shrink-0 w-screen h-full object-cover">

          
            <img src="/background-hero-1.jpg" alt="Fundo da Imersão Upscale 1" class="opacity-35 carousel-image flex-shrink-0 w-screen h-full object-cover">
            <img src="/background-hero-2.jpg" alt="Fundo da Imersão Upscale 2" class="opacity-35 carousel-image flex-shrink-0 w-screen h-full object-cover">
            <img src="/background-hero-3.jpg" alt="Fundo da Imersão Upscale 3" class="opacity-35 carousel-image flex-shrink-0 w-screen h-full object-cover">
        </div>
    </div>

   
    <div class="container-custom relative z-10">
        <div class="slide-up text-center" transition:animate="slide">
            <h2 class="text-accent pt-8 pb-8 md:pt-32 md:pb-32">25 DE OUTUBRO, CASCAVEL-PR </h2>
            <h1 class="text-white md:pb-16 text-2xl md:text-4xl lg:text-5xl">Imersão | UPSCALE</h1>
            <p class="text-white text-sm md:text-base lg:text-lg px-4 md:px-0">Crescer é preciso. Escalar é estratégia. </p>
            <p class="text-white text-sm md::text-base lg:text-lg px-4 md:px-0">Um encontro único para mudar o rumo do seu negócio.  </p>

            <div class='py-8 md:py-32 flex flex-col items-center justify-center space-y-4 md:flex-row md:space-x-8 md:space-y-0 px-4 md:px-0'>
                <a href="https://pay.hotmart.com/S101491608M" class="btn-primary w-full md:w-64">Garantir meu ingresso</a>
            </div>
        </div>
    </div>
</section>
<section class="section-padding text-center">
<h2 class="text-accent pt-8 pb-8 md:pt-16 md:pb-16">Um dia inteiro para acelerar seu crescimento.</h2>
<p class="text-white pt-8 pb-8 md:pt-16 md:pb-16">Na <span class="font-bold text-accent">Imersão UpScale</span>, você vai descobrir como estruturar seu negócio para crescer de forma 
sustentável, aprender os caminhos para escalar com inteligência, conhecer modelos de 
licenciamento e franquia, além de gerar conexões estratégicas com empresários que estão 
na mesma jornada que você.</p>
  <h2 class="text-white pb-16"">Esse evento é<span class='text-accent'> exclusivo </span>para:</h2>
    <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6 border-2 border-accent rounded-xl">
        <h1 class="text-white text-xs md:text-sm">Empresários que querem expandir seus negócios</h1>
      </div>

      <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6 border-2 border-accent rounded-xl">
        <h1 class="text-white text-xs md:text-sm">Quem busca escala, licenciamento ou franquia</h1>
      </div>

      <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6 border-2 border-accent rounded-xl">
        <h1 class="text-white text-xs md:text-sm">Líderes que querem clareza e estratégia para crescer</h1>
      </div>

      <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6 border-2 border-accent rounded-xl">
        <h1 class="text-white text-xs md:text-sm">Profissionais que valorizam networking de alto nível</h1>
      </div>

    </div>
  </div>
</section>
<section class="bg-primary text-center section-padding relative overflow-hidden flex flex-col justify-center items-center"  transition:animate="slide" style="min-height: 400px;">

  <div class="absolute top-0 left-0 w-full h-0.5 bg-accent opacity-40"></div>
  <div class="absolute bottom-0 left-0 w-full h-0.5 bg-accent opacity-40"></div>
  <div class="absolute top-0 left-0 h-full w-0.5 bg-accent opacity-40"></div>
  <div class="absolute top-0 right-0 h-full w-0.5 bg-accent opacity-40"></div>

  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <img src="Upscale Header.svg" alt="Sua Logo" class="h-64 w-64 mx-auto inline-block relative z-20">
    <h2 class="text-white mb-4">Dia 27 de Setembro | Cascavel-PR </h2>
    <h2 class="text-white mb-4">Das <span class="text-accent">9h às 12h</span> e das<span class="text-accent"> 14h às 17h</span></h2>
    <h2 class="text-white mb-4">Uniguaçu - Polo Cascavel</h2>
    
    <div class="mt-16 mb-24 flex flex-col md:flex-row justify-center gap-8 w-full"> 
      <div class="border-2 border-accent rounded-xl overflow-hidden flex-1"> 
        <h1 class="bg-accent text-white py-2 text-center text-2xl md:text-2xl font-semibold">Promocional</h1>
        <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6">
            <h1 class="text-4xl my-8 md:text-4xl md:my-16 text-white font-bold">R$99,90</h1>
            <div class="btn text-white border-2 border-accent bg-accent opacity-50">Esgotado</div>
        </div>
      </div>

      <div class="border-2 border-white rounded-xl overflow-hidden flex-1 float-animation"> 
         <h1 class="bg-white text-accent py-2 text-center text-2xl md:text-2xl font-semibold">Indívidual</h1>
        <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6">
            <h1 class="text-4xl my-8 md:text-4xl md:my-16 text-accent font-bold">R$197,00</h1>
            <a href="https://pay.hotmart.com/S101491608M" class="btn-primary bg-white text-accent">Garanta seu Ingresso!</a>
        </div>
      </div>

      <div class="border-2 border-accent rounded-xl overflow-hidden flex-1"> 
        <h1 class="bg-accent text-white py-2 text-center text-2xl md:text-2xl font-semibold">Em grupo</h1>
        <div class="flex flex-col items-center text-center px-2 py-2 md:px-4 md:py-4 lg:px-6 lg:py-6">
            <h1 class="text-4xl my-8 md:text-2xl md:my-16 text-white font-bold">Entre em Contato</h1>
            <a href="https://wa.me/5545991064514?text=Ol%C3%A1,+gostaria+de+mais+informa%C3%A7%C3%B5es+sobre+o+evento+*UpScale*&utm_source=chatgpt.com" class="btn-primary">Fale com a gente</a>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section class="section-padding items-center text-center">
<h1 class="text-white mb-16">Esse é um encontro<span class="text-accent"> único</span>, com número restrito de participantes.</h1>
<h1 class="text-accent text-xl sm:text-2xl md:text-3xl mb-16 md:mb-32">Se você deixar para depois, pode ficar de fora.</h1>
<a href="https://pay.hotmart.com/S101491608M?bid=1756382624490" class="btn-primary text-lg sm:text-xl md:text-4xl px-8 sm:px-16 md:px-32 py-4 pulse-button">Comprar Agora</a>
</section>
<Footer/>
</Layout>


<style>
    .carousel-inner {
    width: 600vw;
    animation: slideImages 60s linear infinite;
  }

  .carousel-image {
    min-width: 100vw;
  }

  @keyframes slideImages {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300vw);
    }
  }

  .float-animation {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* Nova animação de pulsação */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Aumenta um pouco o tamanho */
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse-button {
    animation: pulse 1.5s infinite ease-in-out; /* Aplica a animação */
  }
</style>