---
---
<header class="fixed w-full bg-transparent pt-4 transition-colors duration-300" style="z-index: 9999;">
  <div class="container-header">
    <nav class="text-white hidden md:flex items-center space-x-8">
      <a href="/" class="btn-header">Home</a>
      <a href="/" class="btn-header">Investimento</a>
      <a href="/" class="btn-header">Método BIG</a>
      <a href="/" class="group"> <img src="/Upscale Header.svg" alt="Upscale" class="h-8 w-auto transition-all duration-300 group-hover:scale-120 group-hover:opacity-80" /></a>
    </nav>
      <a>Logo Aqui</a>
      </div>
  </div>
</header>