<section id="Hero" class="section-padding relative overflow-hidden" style="z-index: 1;">
  
  <div class="absolute inset-0 opacity-30 pointer-events-none flex items-center">
    <div class="carousel-track slide-up" transition:animate="slide" >
      <div class="carousel-item">1x</div>
      <div class="carousel-item">3x</div>
      <div class="carousel-item">5x</div>
      <div class="carousel-item">10x</div>
      <div class="carousel-item">15x</div>
      <div class="carousel-item">20x</div>
      <div class="carousel-item">50x</div>
      <div class="carousel-item">100x</div>
      <div class="carousel-item">1x</div>
      <div class="carousel-item">3x</div>
      <div class="carousel-item">5x</div>
      <div class="carousel-item">10x</div>
      <div class="carousel-item">15x</div>
      <div class="carousel-item">20x</div>
      <div class="carousel-item">50x</div>
      <div class="carousel-item">100x</div>
    </div>
  </div>
  
  <div class="container-custom relative">
    <div class="slide-up text-center" transition:animate="slide">
      <h2 class="text-accent pt-32 pb-32">Nos próximos 12 meses...</h2>
      <h1 class="text-white pb-16">Vou te guiar para estruturar um negócio <span class="text-accent">sólido</span>, <span class="text-accent">lucrativo </span> e <span class="text-accent">preparado </span> para o futuro.</h1>
      <p class="text-white">O Scale X é o ponto de virada para quem quer aprender a estruturar, escalar e criar um negócio lucrativo, recorrente e alinhado com o impacto que deseja gerar no mundo.</p>
    
      <div class='py-32 flex items-center justify-center space-x-8'> 
        <a href="/" class="btn-primary w-64">Reserve sua vaga</a> 
        <a href="/" class="btn-secondary w-64">Confira o próximo evento</a>
      </div>
    </div>
  </div> 
</section>

<style>
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
    width: 200%;
  }

  .carousel-item {
    flex-shrink: 0;
    font-size: 35rem;
    font-weight: bold;
    color: white;
    margin-right: 35rem;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .carousel-item {
      font-size: 4rem;
      margin-right: 2rem;
    }
  }
</style>