<section id="Investimento" class="section-padding">
      <div class="relative">
        <div class="slide-up text-center" transition:animate="slide">
            <h2 class="text-accent pb-16 md:pb-32 text-lg md:text-xl">Invista no seu crescimento...</h2>
            <div class="flex flex-col md:flex-row gap-6 md:gap-8">
            <div class="w-full md:w-1/2 text-white text-left">
            <h2 class="mb-6 md:mb-8 text-base md:text-lg">Estrutura de crescimento validada</h2>
            <div class="space-y-2 md:space-y-3">
            <p class="text-sm md:text-base">- Multiplicação de receita com menos esforço</p>
            <p class="text-sm md:text-base">- Modelo de negócio escalável e replicável</p>
            <p class="text-sm md:text-base">- Acesso a estratégias prontas e modelos testados</p>
            <p class="text-sm md:text-base">- Ambiente de alta performance e networking estratégico</p>
            <p class="text-sm md:text-base">- Suporte direto de quem escalou na prática</p>
            <p class="text-sm md:text-base">- Economia de tempo e dinheiro com atalhos aplicáveis</p>
            <p class="text-sm md:text-base">- Possibilidade de criar ou integrar um ecossistema empresarial</p>
            <p class="text-sm md:text-base">- Mentalidade de escalador e tomada de decisão estratégica</p>
            <p class="text-sm md:text-base">- Visão de negócio 360º: jurídico, financeiro, comercial e expansão</p>
            <p class="text-sm md:text-base">- Produtos prontos para vender em escala</p>
            </div>
            </div>
            <div class="flex flex-col justify-center items-center text-center px-4 py-4 md:px-8 md:py-8 lg:px-12 lg:py-12 border-2 border-accent rounded-xl w-full md:w-1/2">
        <h1 class="text-white text-center mb-6 md:mb-8">Receba uma consultoria <span class="text-accent">gratuita</span></h1>
        <a href="https://api.whatsapp.com/send/?phone=5545991064514&text=Ol%C3%A1%2C+gostaria+de+saber+mais+sobre+a+%2AScale+X%2A&type=phone_number&app_absent=0" class="btn-primary">Fazer minha aplicação</a>
    </div>
</div>
        </div>
    </div>
</section>